$color-primary: #71b6d4;
$color-secondary: #7ed56f;

$color-grey-light-1: #f7f7f7;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-the-light: #2998ff;
$color-the-dark: #5643fa;

$color-thi-light: #29ff94;
$color-thi-dark: #26ca78;
