.bg-video {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;

  &_content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
