*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  //1rem=10px 10px/16px=62.5%
  font-size: 62.5%;

  //width<1200
  @include respond(tab-land) {
    font-size: 56.25%; //1rem=9px 9/16=50%
  }
  //width<900
  @include respond(tab-port) {
    font-size: 50%; //1ren=10px 10px/16px=50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem =12 12/16
  }
}

body {
  box-sizing: border-box;
  padding: 1.5rem;
  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-secondary;
  color: #fff;
}
