.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include respond(tab-port) {
    padding: 20rem 0;
  }

  &_content {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    padding: 6rem;
    @include respond(tab-port) {
      flex-direction: column;
    }

    // margin-left: 15rem;
    // margin-right: 15rem;
    // padding: 6rem 10rem;
  }
}

.about_review {
  flex: 0 0 50%;
  margin-right: 3rem;
  text-align: left;
  // background-color: burlywood;
  @include respond(tab-port) {
    margin-right: 0;
  }
}

.about_image {
  flex: 1;
  @include respond(tab-port) {
    margin-top: 6rem;
    z-index: 50;
  }
}

.section-features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-secondary, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -10rem;

  @include respond(tab-port) {
    flex-wrap: wrap;
    padding: 20rem;
  }

  @include respond(phone) {
    padding: 8rem 8rem;
  }
}

.section-tours {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-grey-light-1;
  margin-top: -10rem;
  padding: 18rem 0;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-stories {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include respond(tab-port) {
    padding: 8rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-secondary
  );
  @include respond(tab-port) {
    padding: 8rem 0;
  }
}
